*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

header{
    width: 100%;
    height: 80px;
    display: block;
    background-color: #006B6B;
    position: relative;
    color: black;
    font-family: 'Lato', sans-serif;
}

body {
    background-color: #333333;
    min-width: 1400px;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.inner_header{
    width: 70%;
    height: 100%;
    display: block;
    margin: 0 auto;
}

.logo_container{
    height: 100%;
    display: table;
    float: left;
}

.logo_container img{
    width: 250px;
    display: table-cell;
    vertical-align: middle;
}

.navigation{
    height: 100%;
    display: table;
    float: right;
    list-style: none;
}

.navigation li{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    padding: 0px 20px;
    color: black;
    font-size: 16px;
}

.navigation li:last-child{
    padding-right: 0px;
}

.navigation a:visited, .navigation a:hover, .navigation a:active, .navigation a:link{
    text-decoration: none;
    color: black;
}

.form {
    width: 70%;
    height: 100%;
    margin-left: 15%;
}

#log:hover{
    color: lightgrey;
}

#image{
    width: 30%;
}